.sprintCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18vh;
    background-color: #CFD8DD;
    justify-content: space-around;
    border-radius: 0.4rem ;
    padding: 3px;
    border: 2px solid #a3a3a3;
  }
  
  .sprintCardHeader {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: larger;
  }
  
  .sprintCardInfo {
    display: flex;
    flex-direction: column;
    text-align: center;  
    font-size: small;
    font-weight: bold;
  }
  
  .sprintCardButtons {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
  }