.containerBacklog {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 92vh;
  padding: 1rem;
}

.headerBacklog {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.title {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.buttonTask {
  color: #000;
  font-size: larger;
  font-weight: 700;
  background-color: #0D7DD8;
  padding: 1rem 1.5rem;
  border-radius: 8rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.buttonTask i {
  font-size: 2rem; 
}

.buttonTask:hover {
  cursor: pointer;
  background-color: #0A64A4;
}
