* {
  box-sizing: border-box;
}

.containerAsideWrapper {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  min-width: 250px;
}

.sprintCardContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fullHeightBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CFD8DD;
  flex-grow: 1;
  gap: 0.7rem;
  height: 92vh;
  box-sizing: border-box;
}


.buttonBacklog {
  all: unset;
  background-color: #0D7DD8;
  color: #000;
  border: 2px solid #0D7DD8;
  padding: 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  font-weight: bold;
  margin-top: 0.8rem;
}

.buttonBacklog:hover {
  cursor: pointer;
}

.containerAside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  height: 83vh;
  padding: 0.4rem;
  border-radius:0.5rem;
  width: 95%;
  overflow: scroll;
}

div::-webkit-scrollbar {
  display: none;
}
  
.containerTitleButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 0.8rem;
}
  
.title {
  color:black;
  font-weight: 600;
  display: flex;  
  align-items: center; 
  gap: 0.5rem; 
}

.buttonAddSprint {
  all: unset;
  position: absolute;
}

.buttonAddSprint:hover {
  cursor: pointer;
}


.line {
  width: 80%;
  border: 1px solid black;
  margin: 2px auto;
}